<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uta.login.mavsadvising">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".StudentScheduleActivity" />
        <activity
            android:name=".StudentViewCancelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AdvisorDashBoardActivity" />
        <activity android:name=".viewDelAdvisor" />
        <activity android:name=".admindashboard" />
        <activity android:name=".adminselectnetid" />
        <activity android:name=".adminstudent"></activity>
    </application>

</manifest>